In [0]:
#First create a table in the SQL

#CREATE TABLE [dbo].[Employee]
#(
#  [ID] [int]  NULL,
#  [Age] [int]  NULL,
#  [Salary] [int]  NULL
#)

In [0]:
# install Maven library to connect with sql on your cluster
# com.microsoft.azure:spark-mssql-connector_2.12_3.0:1.0.0-alpha

In [0]:
# Configure JDBC URL
jdbcHostname = "sqlserverwnsb2.database.windows.net"
jdbcPort = "1433"
jdbcDatabase = "db01"
jdbcUsername = "sqladmin"
jdbcPassword = "Pa55w.rd1234"

# Connection properties
connectionProperties = {
    "user" : jdbcUsername,
    "password" : jdbcPassword,
    "driver" : "com.microsoft.sqlserver.jdbc.SQLServerDriver"
}

jdbcUrl = f"jdbc:sqlserver://{jdbcHostname}:{jdbcPort};database={jdbcDatabase};user={jdbcUsername};password={jdbcPassword};encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.sql.azuresynapse.net;loginTimeout=30;"

# Define table and schema
table = "dbo.Employee"
data = [(4, 34, 7500),
        (5, 22, 2800),
        (6, 56, 6000)]

# Create a DataFrame
columns = ["ID", "Age", "Salary"]
df = spark.createDataFrame(data, schema=columns)

# Write data to the SQL pool
df.write.jdbc(url=jdbcUrl, table=table, mode="append", properties=connectionProperties)

In [0]:
# Table name you want to read from
table_name = "dbo.Employee"

# Read data from Azure Synapse table into a DataFrame
df = spark.read.jdbc(url=jdbcUrl, table=table_name, properties=connectionProperties)

# Display the DataFrame content
display(df)

ID,Age,Salary
3,27,3000
2,25,2500
1,30,1500
6,56,6000
4,34,7500
5,22,2800

In [0]:
# Register the DataFrame as a temporary view
df.createOrReplaceTempView("employee_view")

# Use Spark SQL to query the temporary view
result_df = spark.sql("SELECT * FROM employee_view")

# Display the result
display(result_df)

ID,Age,Salary
3,27,3000
2,25,2500
1,30,1500
6,56,6000
4,34,7500
5,22,2800